
<div class="global couleur-entete">
    <header class='entete'>
        <h1><%= __("Projet Veille Node.js") %>Projet Veille Node.js</h1>
        <h2><%= __("Tim - Collège de Maisonneuve") %></h2>
    </header>
</div>

